/node_modules
/public/hot
/public/storage
/public/reportes
/storage/*.key
/vendor
/config/*
/config/filesystems.php
/config/snappy.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
composer.json
!.gitignore
