#/node_modules
/public/hot
/public/upload
/public/*.pdf
/public/*.docx
/public/*.docx.docx
/public/*.pptx
/public/*.mov
/public/*.rtf
/public/*.txt
/public/*.tif
/public/*.tmp
/public/*.wma
/public/*.wmv
/public/*.jpg
/public/*.JPG
/public/*.jpeg
/public/*.xlsx
/public/*.xlsm
/public/*.xls
/public/*.xspf
/public/*.zip
/public/*.mp4
/public/*.mp3
/public/*.png
/public/*.rar
/public/*.3gpp
/public/*.amr
/public/*.exe
/public/*.doc
/public/*.7z
/public/*.bmp
/public/*.aac
/public/*.m4a
/public/*.odt
/public/*.jfif
/public/*.ogg
/public/*.heic
/public/*.ppsx
/public/*.opus
/public/*.html
/public/*.gif
/public/*.csv
/public/*.pages
/public/*.dotx
/public/*.webp
/public/archivos
/public/perfil
/public/fullcalendar
/public/password
# /storage/*.key
#/storage/*.key
# /vendor
# .env
# .phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
